* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.title {
  padding: 20px;
}

.introduction {
  width: 840px;
  margin: 50px auto;
}

.type {
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
}
.type2 {
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}
